 
.pdf_content{
  .pdf_heading{
    clear:both;
    h5{
    float: left;
    }
    .date_pdf{
      float: right;
    }

  }
  table {
    width: 100%;
      border-collapse: collapse;
    td,th{
      text-align: center;
      font-size: 16px;
      text-transform: capitalize;
      color: #666;
    }
    td,th{
      border: 1px solid #ccc;
      /*height: 60px;*/
      vertical-align: middle;
    }
  }
  .summary_data{
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      font-size: 16px;
      margin-right: 30px;
    }
  }
}  